<div class="carousel carousel-slider hide-on-med-only hide-on-large-only caros1">
        <a class="carousel-item black" href="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201910/PM_modi_twitter_12-770x433.jpeg?SYTIbC7cU6EDlM5glh42KulqtRcAGtmN"><img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201910/PM_modi_twitter_12-770x433.jpeg?SYTIbC7cU6EDlM5glh42KulqtRcAGtmN" class="responsive-img" style="-ms-transform-origin-y: -100rem;" >
        </a>
        <a class="carousel-item" href="https://c.ndtvimg.com/2019-10/oefgtgd_virat-kohli_625x300_19_October_19.jpg"><img src="https://c.ndtvimg.com/2019-10/oefgtgd_virat-kohli_625x300_19_October_19.jpg" class="responsive-img"></a>
        <a class="carousel-item" href="https://timedotcom.files.wordpress.com/2019/09/apple-tim-event.jpg?w=800&quality=85"><img src="https://timedotcom.files.wordpress.com/2019/09/apple-tim-event.jpg?w=800&quality=85" class="responsive-img"></a>
        <a class="carousel-item" href="https://www.wtatennis.com/sites/default/files/styles/highlight_news_mobile_1_33_1_2x/public/field/image/_rm50877.jpg"><img src="https://www.wtatennis.com/sites/default/files/styles/highlight_news_mobile_1_33_1_2x/public/field/image/_rm50877.jpg" alt="Belinda Bencic, Moscow 2019 (VTB Kremlin Cup)" title="Belinda Bencic, Moscow 2019 (VTB Kremlin Cup)" class="responsive-img"></a>
      </div>
  <div class="carousel carousel-slider hide-on-small-only caros2">
          <a class="carousel-item black" style="-ms-transform-origin-y: -500rem;" href="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201910/PM_modi_twitter_12-770x433.jpeg?SYTIbC7cU6EDlM5glh42KulqtRcAGtmN"><img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201910/PM_modi_twitter_12-770x433.jpeg?SYTIbC7cU6EDlM5glh42KulqtRcAGtmN" class="responsive-img" style="-ms-transform-origin-y: -100rem;" >
          </a>
          <a class="carousel-item" style="-ms-transform-origin-y: -500rem;" href="https://c.ndtvimg.com/2019-10/oefgtgd_virat-kohli_625x300_19_October_19.jpg"><img src="https://c.ndtvimg.com/2019-10/oefgtgd_virat-kohli_625x300_19_October_19.jpg" class="responsive-img"></a>
          <a class="carousel-item" href="https://timedotcom.files.wordpress.com/2019/09/apple-tim-event.jpg?w=800&quality=85"><img src="https://timedotcom.files.wordpress.com/2019/09/apple-tim-event.jpg?w=800&quality=85" class="responsive-img"></a>
          <a class="carousel-item" href="https://www.wtatennis.com/sites/default/files/styles/highlight_news_mobile_1_33_1_2x/public/field/image/_rm50877.jpg"><img src="https://www.wtatennis.com/sites/default/files/styles/highlight_news_mobile_1_33_1_2x/public/field/image/_rm50877.jpg" alt="Belinda Bencic, Moscow 2019 (VTB Kremlin Cup)" title="Belinda Bencic, Moscow 2019 (VTB Kremlin Cup)" class="responsive-img"></a>
        </div>
              
    
<script>
            document.addEventListener('DOMContentLoaded', function() {
              var elems = document.querySelectorAll('.caros1');
              var instances = M.Carousel.init(elems, {fullWidth:true,indicators:true});
            });
            
</script>    


<script>
    document.addEventListener('DOMContentLoaded', function() {
      var elems = document.querySelectorAll('.caros2');
      var instances = M.Carousel.init(elems, {fullWidth:true,indicators:true});
    });
    
</script>    