<div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/201910/PM_modi_twitter_12-770x433.jpeg?SYTIbC7cU6EDlM5glh42KulqtRcAGtmN" class="responsive-img" >
        </a>
        <a class="carousel-item" href="#two!"><img src="https://c.ndtvimg.com/2019-10/oefgtgd_virat-kohli_625x300_19_October_19.jpg" class="responsive-img"></a>
        <a class="carousel-item" href="#three!"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHPY6lhEFN-1H03afIrdMONKR6zw4aMQYlSaDF2Jg_i6iv5NTT" class="responsive-img"></a>
        <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4" class="responsive-img"></a>
      </div>
    </div>
<script>
            document.addEventListener('DOMContentLoaded', function() {
              var elems = document.querySelectorAll('.carousel');
              var instances = M.Carousel.init(elems, {});
            });
            
</script>    