<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Searches!!</title>
</head>
<body class="grey">

    <%include partials/navbar.ejs%>
    <%include partials/carousel.ejs%>
    <%include partials/searchbar.ejs%>
    <center>  

    <%if(data.length==0){%> <h1 class="center-align">Sorry , No News Search related to response found !!</h1> <%}else{%>
        <h4 class="center-align">Were You looking for below Stuff ?? </h4>
        <%};%> 
    
        <%for(var j=0;j<data.length;j++){%>
    
        <%include partials/news_card.ejs%>
    
        <%};%>
    </center>

    <%include partials/footer.ejs%>
</body>
<%include partials/materialize.ejs%>
</html>